nav {
	background: rgba(0, 0, 0, 0.2);
	width: max-content;
	padding: 1rem 1.5rem;
	z-index: 2;
	position: fixed;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 1rem;
	border-radius: 3rem;
	backdrop-filter: blur(10px);
}

nav a {
	background: transparent;
	padding: 0.7rem 1rem;
	border-radius: 50%;
	color: var(--color-alternative);
	font-size: 1.1rem;
}

nav a:hover {
	background: rgba(0, 0, 0, 0.2);
}

nav a.active {
	background: var(--color-alternative);
	color: var(--color-bg);
}
